absl-py==0.7.1
astor==0.8.0
cycler==0.10.0
Django==2.2.4
future==0.17.1
gast==0.2.2
grpcio==1.23.0
h5py==2.9.0
image==1.5.27
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
mock==3.0.5
numpy==1.14.5
Pillow==2.6.0
protobuf==3.9.1
pyparsing==2.4.2
pypng==0.0.20
python-dateutil==2.8.0
pytz==2019.2
scipy==1.1.0
six==1.12.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
Werkzeug==0.15.5
